body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 2px;
	line-height: 1.5em;
	

}
a {
	text-decoration: none;
	color: white;
}
h1, h2, h3 {
	font-family: 'Slabo 27px', serif;
}


.backgroundchicken {
	background-image: url(assets/Outside2.jpg);
	height: 100vh;
	background-size: cover;
	position: relative;
	overflow: auto;

}


 html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }



/*about page styles*/

header {
	width: 95%;
	height: 100px;
	background-color: ghostwhite;
  	
  	margin: 0 auto;
  	min-width: 320px;	


	
	display: flex !important;
	flex-direction: row;
	justify-content: center;
	align-items:center; 
}
.backbutton {
	width: 30%;
	font-size: 30px;
	color: white;
	background-color: rgba(247, 37, 36,0.5);
	padding: 10px;
	
}
#abouttitle {
	font-size: 40px;
	padding: 10px;
	width: 30%;
	text-align: center;


}
.forwardbutton {
	color: white;
	width: 30%;
	font-size: 30px;
	background-color: rgba(247, 37, 36,0.5);
	padding: 10px;
	text-align: right;

}



.about {
	
	min-width: 320px;
	font-size: 16px;
	line-height: 1.5em;

	background-color: ghostwhite;
  	width: 95%;
  	margin: 0 auto;
	padding-bottom: 20px;
	
	color: black;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.description {
	width: 100%;
	font-size: 20px;

	border-radius: 10px;

}
.description p {

	padding: 20px;
	font-size: 20px;
	margin: 0;
	text-align: justify;
}
.aboutimg {
	max-width: 500px;
	min-width: 320px;
	width: 100%;
	border-radius: 20px;
	max-height: 350px;
	margin-left: 20px;
}








/*contact bar at bottom of page*/

.bottombar {
	background-color: rgba(29,29,29, .7);
	width: 100%;
	display: flex;
	color: white;
	
	flex-direction: row;
	justify-content: space-around;
}
 .bottombar ul {
	padding: 0;
	margin-top: 10px;
	width: 100%;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	
	
}
 .bottombar ul li {
	padding: 10px 0px;
	
	list-style: none;
	width: 33%;
	opacity: 1;
	text-align: center;

}


@media screen and (max-width: 500px) {
	span {
		align-self: flex-start;
	}
	#abouttitle {
		align-self: flex-end;
		position: relative;
		top: 30px;
		left: -15px;
	}
}

@media screen and (max-width: 720px) {
	.aboutimg {
		margin-top: 20px;
	}
	.about {
		flex-direction: column;
	}



	.bottombar ul {
   	flex-direction: column;
   	align-items: center;
	}
	.bottombar ul li {
		width: 100%;
	}
}

/*@media screen and (min-width: 661px) and (max-width: 1399px) {

}*/
/* for screens bigger than 1400 px*/
@media	screen and (min-width: 1240px) {
	.header {
		max-width: 1100px;
	}

}