
/*base */


.backgroundchicken {
	background-image: url(assets/chickens.jpg);
	height: 100vh;
	background-size: cover;
	position: relative;

	
}

.about {
	display: none;
}



.welcomectn {
	top: 40%;
	left: 30%;
	max-width: 800px;
	position: absolute;
	font-family: arial;
	color: white;
}
.name {
	font-size: 100px;
	padding: 20px 20px 20px 0;
}
.squel {
	font-size: 80px;
	padding: 20px 20px 20px 0;
	margin-bottom: 20px;
}
.contactbtn {
	padding: 20px;
	font-size: 50px;
	border-radius: 10px;
	background-color: rgb(247, 37, 36);
	font-family: inherit;
	border:0;
	text-decoration: none;
}
.aboutbtn {
	display: inline-block;
	font-size: 50px;
	padding: 20px;
	margin-left: 10px;
}







/*mobile - ipad */
@media (max-width: 480px) {
   .welcomectn {
   	left: 10%;
   }
  
}

/*tabl et - desktop */
@media (max-width: 760px) {
     .welcomectn {
   	left: 10%;
   }
/*   .name {
     font-size: 60px
   }
   .squel {

   }
   .contactbtn {

   }
   .aboutbtn {
   	
   }*/
}


