
/*base */

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 2px;
}
a {
	text-decoration: none;
	color: white;
}
h1, h2, h3 {
	font-family: 'Slabo 27px', serif;
}


.backgroundchicken {
	background-image: url(assets/CloseUp1.jpg);
	height: 100vh;
	background-size: cover;
	position: relative;
	overflow: auto;

	
}



/*Main page styles*/

.topbar {
	background: rgba(29,29,29,0.43);
	
}
.topbar ul {
	padding: 0;
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}
.topbar ul li {
	padding: 10px 0px;
	color: white;
	list-style: none;
	width: 33%;
	opacity: 1;
	text-align: center;


}



.welcomectn {
	top: 30%;
	left: 20%;
	max-width: 800px;
	position: absolute;
	
	color: white;
	overflow: none;
}
.titlebox {
	background-color: rgba(29, 29, 29, 0.3);
	border-radius: 10px;
	margin-bottom: 20px;
	padding-left: 20px;
}
.name {
	font-size: 80px;
	padding: 20px 20px 20px 0;
	margin: 0;

	
}
.squel {
	font-size: 60px;
	padding: 20px 20px 20px 0;
	margin-bottom: 20px;
	margin: 0;
	
}
.contactbtn {
	padding: 20px;
	font-size: 30px;
	border-radius: 10px;
	background-color: rgba(247, 37, 36,0.7);
	
	border:0;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
}
.contactbtn:hover {
	opacity: 1; 
}
.pagebtn {
	display: inline-block;
	border:none;
	padding: 20px;
	margin-left: 10px;
	background-color: rgba(29, 29, 29, 0.3);
	border-radius: 10px;
	font-family: 'Roboto', sans-serif;
}

.show {
	display: flex !important;
}




.overlay {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: rgba(29, 29, 29, .5);
	

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: none;
}
.formbox {
	background-color: white;
	border-radius: 10px;
	background-color: #F3F4F2;
	max-width: 600px;
	width: 600px;
}

.closebtn {
	cursor: pointer;
	float: right;
	position: relative;
	top: 5px;
	right: 10px;
}


.formheader{
	width: 100%;
	height: 45px;
	text-align: center;
}
form {
	width: 100%;
	height: 100%;
}
.formtextbox {
	padding: 20px;
}
.formnames {
	padding-left: 10px;
}
form input {
	padding: 5px;
	float: right;
	border: 2px solid #dadada;
	font-size: 16px;
	width: 250px;
	background-color: ghostwhite;
	
}
.msgbox {
	height: 200px;
	width: 99%;
	margin: 10px 0px;
	border: 2px solid #dadada;
	resize: none;
	background-color: ghostwhite;
}
.formfooter {
	width: 100%;

}
.submitbtn {
	float: right;
	padding: 20px;
	border: none;
	background-color: rgba(29, 29, 29, 0.3);
	border-radius: 10px;
	margin: 10px;
}













/*mobile - 480 and below */
@media screen and (max-width: 660px) {
   .topbar ul {
   	flex-direction: column;
   	align-items: center;
	}
	.topbar ul li {
		width: 100%;
	}
   .welcomectn {
   	left: 5%;
   } 
   .name {
   	font-size: 40px;
   }
   .squel {
   	font-size: 25px
   }
   .contactbtn {
   	font-size: 16px;
   }
   .pagebtn {
   	font-size: 16px;
   }



}


/*tabl et - 760 and below */
@media screen and (min-width: 661px) and (max-width: 960px) {
   .topbar ul li {
   	padding: 10px;
   }
   .welcomectn {
   	left: 10%;
   	top: 20%;
   }
	.name {
     font-size: 80px;

   }
   .squel {
   	 font-size: 60px;
   }
   .contactbtn {
   	 font-size: 40px;
   }
   .pagebtn {
   	 font-size: 40px;
   	 margin-top: 10px;
   }
}
@media screen and (min-width: 961px) {
	.welcomectn {
		top: 25%;
	}
	.name {
     font-size: 80px;
   }
   .squel {
   	 font-size: 60px;
   }
   .contactbtn {
   	 font-size: 30px;
   }
   .pagebtn {
   	 font-size: 30px;
   }
 
}

